.each-slide-effect > div {
  background-size: cover;
}

.each-slide-effect span {
  padding: 10px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.indicator {
  cursor: pointer;
  background: #1f9257;
  margin: 0;
}

.indicator.active {
  color: #fff;
}
.indicators {
  background-color: #1f9257;
}
button{
  margin: 10px;
}
