@tailwind base;
@tailwind components;
@tailwind utilities;

.each-slide-effect > div {
  background-size: cover;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.indicator {
  cursor: pointer;
  background: #712d84;
  margin: 0;
}

.indicator.active {
  color: #fff;
}
.indicators {
  background-color: #712d84;
}
button{
  top: 116%;
  margin: 10px;
}
